# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.docx
ui_ux_work/
client/public/figma_assets/
drafts/
RedHatFont/
RedHatUWisc/
# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/

# misc
.DS_Store
.env
.env.*
!.env.sample
.idea/
.vscode/
.vercel
.screenshots/

npm-debug.log*
yarn-debug.log*
yarn-error.log*